<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CSharpForm.Common.Properties.Settings.FirstLoginDBConnectionString"
            connectionString="Data Source=LAPTOP-0MSEK72T;Initial Catalog=FirstLoginDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>